language: python
cache: pip

python:
  - "3.10"

install:
  - pip install .
  - pip install -r requirements-dev.txt

script:
  # TODO: uncomment isort and flake8 when it will start passing
  # - isort --check-only
  # - flake8 --max-line-length=120
  - pytest
