# set state = process["statename"]
# set uid = process['uid']
# set actions_allowed = STATES_ACTIONS[state]
# set action = "start" if "START" in actions_allowed else "stop"
# set action_icon = "arrow-clockwise" if "START" in actions_allowed else "stop-fill"

<div class="btn-group btn-group-sm" role="group" aria-label="Actions">
    <button type="button" class="btn btn-primary bi-{{ action_icon }}"
        hx-post="/ui/process/{{ uid }}/{{ action }}" hx-swap="none"
    >
    </button>
    <div class="btn-group btn-group-sm" role="group">
        <ul class="dropdown-menu">
            <li class="dropdown-item" hx-post="/ui/process/{{ uid }}/kill" hx-swap="none"
                {{"disabled" if "KILL" not in actions_allowed else ""}}>
                Kill
            </li>
        </ul>
        <button type="button" class="btn btn-primary bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></button>
    </div>
</div>
