# set uid = process['uid']
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="log-panel-label">{{ process['unique_name'] }} - {{ stream }} logs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-bg-dark">
        <pre class="" hx-sse="connect:/ui/process/{{ uid }}/log/{{ stream }}/tail swap:message" hx-swap="beforeend"></pre>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" hx-post="/ui/process/{{ uid }}/log/clear" hx-swap="none">
            Clear logs
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>