<div hx-sse="connect:/ui/stream" id="view">
  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{ multivisor.safe_config["name"] }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#views" aria-controls="views" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="views">
        <ul class="navbar-nav nav-pills me-auto">
          # for item in ['groups', 'supervisors', 'processes']
          <li class="nav-item">
            # if item == view
            <a class="nav-link cursor-pointer active">
            # else
            <a class="nav-link cursor-pointer" hx-get="/ui/{{ item }}" hx-target="#view" hx-push-url="true">
            # endif
            {{ item.capitalize() }}
            </a>
          </li>
          # endfor
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Filter" aria-label="Filter">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid py-3">
    <div class="container-fluid">
      # include view + '/index.html'
    </div>
  </div>

  <div id="process-info" class="modal fade" tabindex="-1" aria-labelledby="process-info-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="process-info-content">
        {% set process = None %}
        # include 'process.html'
    </div>
  </div>

  <div id="log-panel" class="modal fade" tabindex="-1" aria-labelledby="log-panel-label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable" id="log-panel-content">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="log-panel-label">Loading logs...</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Loading logs...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
